@charset "utf-8";
/* CSS Document */

body {
	/*background-color: #EEEEEE;*/
	background-image:url(../images/bg01.png);
	font-family: Verdana, Geneva, sans-serif;
	color:#777777;
	font-size: .7em;
	width:100%;
	margin: 0px;
	padding: 0px;
}

header {
	/*background-image:url(../images/pattern-292t.png);*/
	width: 100%;
	height: 60px;
	margin: 0px;
	padding: 0px;
	vertical-align:bottom;
}

.content {
	width: 1000px;
	margin: 0px auto;
	padding: 10px;
}

#main {
	background: #FFFFFF;
	border: #99CCBB solid 2px;
	/*box-shadow: 0px 0px 5px 5px #DDDDDD;*/
	border-radius: 5px;
}

fieldset, form {
	border: 0px;
	padding: 0px;
	margin: 0px;
	color: #777777;
}

input {
	width: 100px;
}

#mortgage_inputs, #mortgage_outputs {
	width: 175px;
	margin: 5px;
	padding: 5px 15px;
	border: 2px solid #99CCBB;
	border-radius: 5px;
}

td {
	border: none;
}

label, .label {
	color:#99CCBB;
	float: left;
	font-size: 0.8em;
	font-weight:bold;
}

p {
}

h1 {
	font-family: 'Days One', sans-serif;
	color: #FFFFFF;
	text-shadow: #aaaaaa;
	font-size: 1.9em;
	font-weight: bold;
	vertical-align: bottom;
}

h2, caption {
	color:#99CCBB;
	font-size: 1em;
	font-weight: bold;
}

#monthly_details {
	width: 745px;
	max-width: 745px;
	float: right;
	margin-right: 10px;
}

table {
	width: 745px;
	max-width: 745px;
	border: none;
	margin: 5px;
	padding: 5px;
	border: 2px solid #99CCBB;
	border-radius: 5px;

}

th {
	background-color: #99CCBB;
	color: #ffffff;
}

td {
	text-align: right;
}

tr.even {
	background-color: #EBF5F2;
}