@charset "utf-8";
/* CSS Document */

body {
	background-image:url(../images/bg01.png);
	font-family: Verdana, Geneva, sans-serif;
	color:#777777;
	font-size: .7em;
	width:100%;
	margin: 0px;
	padding: 0px;
}

header {
	width: 100%;
	height: 60px;
	margin: 0px;
	padding: 0px;
	vertical-align:bottom;
}

.content {
	width: 1000px;
	margin: 0px auto;
	padding: 10px;
	height: 100%;
}

#main {
	background: #FFFFFF;
	border: #99CCBB solid 2px;
	/*box-shadow: 0px 0px 5px 5px #DDDDDD;*/
	border-radius: 5px;
	overflow:hidden;
}

fieldset, form {
	border: 0px;
	padding: 0px;
	margin: 0px;
	color: #777777;
}

input {
	width: 100px;
	color:#444444;
	font-size: 1em;
}

#mortgage_inputs, #mortgage_outputs {
	width: 150px;
	padding: 5px 15px;
}

h1 {
	font-family: 'Days One', sans-serif;
	color: #FFFFFF;
	text-shadow: #aaaaaa;
	font-size: 1.9em;
	font-weight: bold;
	vertical-align: bottom;
}

h2 {
	color: #447D79;
	font-size: 1em;
	font-weight: bold;
}

.error {
	color: #CC0000;
	font-weight: bold;
}

label, .label {
	color:#447D79;
	float: left;
	font-size: 0.8em;
	font-weight:bold;
}

.border{
	border: 2px solid #99CCBB;
	-moz-border-radius:10px;
  -webkit-border-radius:10px;
	border-radius: 10px;
	padding: 5px;
}

#monthly_details {
	width: 795px;
	max-width: 795px;
	float: right;
	margin-right: 10px;
}

table {
	width: 100%;
	border: 1px solid #99CCBB;
	-moz-border-radius:5px;
  -webkit-border-radius:5px;
	border-radius: 5px;
	border-spacing: 0px;
	margin: 0px auto;
}

th {
	background-color: #99CCBB;
	color: #ffffff;
	text-align: center;
	padding: 2px;
}

td {
	text-align: right;
}

.narrow {
	width: 85px;
	padding: 2px 10px;
}

.wide {
	width: 115px;
	padding: 2px 5px;
}

tr.even {
	background-color: #EBF5F2;
}
